*{
    margin: 0;
    padding: 0px;
    font-family: sans-serif;
}

body{
    background-color: #9b2138;
}

.corpo{

    margin: auto;
    width: 40%;
    height: 100%;
    text-justify: auto;
    background-color: #730E29;
    box-shadow: 1px 1px 10px #3f0313;
    border-radius: 5px;
}
.topicos{
    align-items: center;
    position: relative;
}

header{
    width: 100%;
    background-color: #011C40;
    text-align: center;
    font-family: sans-serif;
    box-shadow: 1px 1px 10px #01132b;
    
}

main a{
    color: white;
}

main a:visited{
    color: rgb(223, 150, 150);
}

main a:hover{
    color: #7991ad;;
}


#titulo{
    font-size: 50px;
    color: white;
    padding: 10px;
    width: 40%;
    margin: auto;
}

a{
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
}

h2{
    font-size: 30px;
}

.as{
    background-color: #011C40;
    width: auto;
    border-radius: 5px;
}

.as:hover{
    background-color: #9ca5b1ab;
    transition: 0.5s;
    border-style: groove;
    border-width: 0.1px;
}


.topicos{
    color: white;
    
}

.topicos p{
    text-indent: 30px;
    text-align: justify;
}
.titulos{
    padding-bottom: 18px;
    padding-top: 18px;
}
.curses{
    padding-top: 18px;
}
ul{
    padding-left: 18px;
}
ol{
    padding-left: 18px;
}
li{
    line-height: 23px;
}

.lislib{
   margin-bottom: 10px; 
}