*{
    margin: 0;
    padding: 0px;
    font-family: sans-serif;
}
@font-face {
    font-family: "non";
    src: url(Fonts/hackers.ttf);
}
@font-face {
    font-family: "nin";
    src: url(Fonts/Mad\ Hacker.ttf);
}

body{
    background-color: #9b2138;
}

.corpo{

    margin: auto;
    width: 40%;
    height: 100%;
    text-justify: auto;
    background-color: #730E29;
    box-shadow: 1px 1px 10px #3f0313;
    border-radius: 5px;
}
.topicos{
    align-items: center;
    position: relative;
}

.titulos{
    text-align: center;
    font-family: "nin";
    font-size: 50px;
     margin: 10px 0px 10px 0px;
}

@media (max-width: 996px) {
    .titulos{
        font-size: 30px;
    }
}
@media (max-width: 743px) {
    .titulos{
        font-size: 25px;
    }
}
@media (max-width: 620px) {
    .titulos{
        font-size: 20px;
    }
}
header{
    width: 100%;
    background-color: #011C40;
    text-align: center;
    font-family: sans-serif;
    box-shadow: 1px 1px 10px #01132b;
    
}

main a{
    color: rgb(226, 223, 223);
}

main a:visited{
    color: rgb(223, 150, 150);
}

main a:hover{
    color: #7991ad;;
}


#titulo{
    font-size: 50px;
    color: white;
    padding: 10px;
    width: 40%;
    margin: auto;
    font-family: "non";

}

a{
    text-decoration: none;
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
}

h2{
    font-size: 30px;
    background-color: #42081817;
}

h3{
    padding: 10px 0px 10px 0px;
    
}
@media (max-width: 620px) {
    h3{
        font-size: 15px;
    }
}

.as{
    background-color: #011C40;
    border-radius: 5px;
}
@media (max-width: 600px) {
    .as{
        font-size: 18px;
    }
}
@media (max-width: 559px) {
    .as{
        font-size: 15px;
    }
}

.as:hover{
    background-color: #9ca5b1ab;
    transition: 0.5s;
    border-style: groove;
    border-width: 0.1px;
}

.topicos{
    color: white;
    font-size: 20px;

}

@media screen and (max-width: 1450px) {
    .topicos {
        font-size: 18px; /* Reduz o tamanho da fonte para telas menores */
    }
}
 
@media screen and (max-width: 650px) {
    .topicos {
        font-size: 14px; /* Reduz o tamanho da fonte para telas menores */
    }
}

.curses{
    padding-top: 18px;
}
ul{
    padding-left: 18px;
}
ol{
    padding-left: 18px;
}
li{
    line-height: 25px;
}

@media (max-width: 620px) {
    main a{
        font-size: 15px;
    }
}


.lislib{
   margin-bottom: 10px; 
}

#fot{
    color: white;
    background-color: #011C40;
    width: 100%;
    text-align: center;
    margin-top: 10px;
    padding-top: 2px;
}
.git:hover{
    color: #9ca5b1ab;
}